In [ ]:
'''Ans1: The difference between label encoding and ordinal encoding are: 
            
            i. The label encoding include the encoding in which the priority doesn't matter while the ordinal
               encoding include the encoding in which the the priority of the categorised data matters a lot.
            
            ii. The label encoding assign the numerical value randomly while in the ordinal encoding the number
                is assigned in series.
        
        for e.g. :
                
                    The label encoding the height of [tall, medium, short] is can be assigned as [0, 2, 1] while
                    in the ordinal encoding the height is assigned in descending order given as [2, 1, 0]
'''

In [ ]:
'''Ans2: The targeted Guided ordinal encoding technique is the technique in which the categorical values are
         encoded in the numerical values using the target value of the variable. In this type of encoding
         the mean or the median of the values are calculated and then the mean or median is assigned to the 
         categorical variable. The mean or median is calculated for each distinct values of the feature.
         
         This type of encoding is very useful where there is very strong relation in betweeen the categorical
         values and the targeted values. And also the number of distinct values is very high in the categorical
         variable.
        
'''

In [ ]:
'''Ans3: 
'''

In [4]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import seaborn as sb
color=['red', 'green', 'blue']
size=['small', 'medium', 'large']
material=['wood', 'metal', 'plastic']
df=pd.DataFrame([color,size,material],columns=['color','size','material'])

In [5]:
lebl=LabelEncoder()

In [6]:
df.apply(lebl.fit_transform)

   color  size  material
0      0     0         0
1      1     1         1
2      2     2         2

In [13]:
#Ans 5:
age=[25,29,23,22]
income=[3000,5924,2524,1734]
education_level=['phd','masters','bachelors','diploma']
ddf=pd.DataFrame({'age':age,'income':income,'education_level':education_level})
ddf.cov()

/tmp/ipykernel_98/3243088013.py:6: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  ddf.cov()

                age        income
age        9.583333  5.580500e+03
income  5580.500000  3.343276e+06

In [ ]:
''' In the above covariance matrix the all the values are positive due to this there is positive covariance 
    between the columns age and income while the education_level column is categorical.
'''

In [ ]:
'''Ans6: For each of the column the type of encoding used will be: 
            
            i. Gender column: Since the gender column only have two distinct values then the binary ordinal encoding
                              can be used where then 0 and 1 value is assigned to the male and female catergorical
                              variable.
            
            ii. Education Level: This column has four distinct values then one hot encoding technique can be used
                                 where a distinct column will be assigned to each of the value of categorical variable
                                 and the value 1 will be assigned to the values where the column and feature has same 
                                 categorical value this will create a spare matrix will be created.
                                 
            iii. Employment status: In this column also the one hot encoding technique is best because the values will
                                    be only three and the sparx matrix will be of 3 x 3.
'''